/*-------------------------
	Simple css file
--------------------------*/

body{
	background:#efe5d0;
	margin: 20px; 
}

ul{
	background-color:#efe5d0;
	margin:10px 10px 0px 10px;
	list-style-type:none;
	padding:5px 0px 5px 0px;
}

ul li{
	display:iinline;
	padding:5px 10px 5px 10px;
}

ul li a:link,ul li a:visited{
	color:#954b4b;
	border-bottom:none;
	font-weight:bold;
}

ul li.selected{
	background-color:#c8b99c;
}





