/*-------------------------
	Simple css file
--------------------------*/

*{
	margin:0;
	padding:0;
}


html{
	background: #FFA;
	position:relative;
}

body{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	height:100%;
	overflow:hidden;
	padding-bottom:10px;
}



h3:target {
	color: maroon;
	background: #FFA;
}


a:hover {
	color:red !important;
	text-decoration:none;
	
}


div#back_home  a#home {
	color:green;
}


/*-------------------------
	corresponding  html code:
		<!--
	simple html file
-->

<!doctype html>
  <head>
	Simple html with css effect
  </head>
  <meta charset="UTF-8" HTTP-EQUIV="pragma" CONTENT="no-cache">
  <link rel="stylesheet" href="css/simple_css_file.css" />
  <script language="javascript">
  
	
  </script> 
      <title>head file</title>
	 
 <body>
 
	<a href="127.0.0.1:1337/?testit">reboot the system</a>
	
	<h1><a name="Section 1"> Begin of a chapter</a></h1>
	1、凤凰视频公开课 http://v.ifeng.com/gongkaike/

（小编评价：专题分类明晰；播放热度较高，但是评论数不高；包含很多国际名校的公开课程，但是大多不新）

2、公开课纪录片下载网  http://www.opclass.com/

（小编评价：- 网易、新浪、中国公开课，CCTV、BBC纪录片大全a，演讲、励志视频下载包含资源种类丰富，大多可以在线观看，有的只有下载链接，有的是链接到百度网盘上可保存、可下载）

3、公开课 - VeryCD电驴大全 http://www.verycd.com/base/edu/

（小编评价：感觉主要是重分类了网易公开课的相关资源；网页右方公开课的“分类检索”比较特别，有按地区、按语言、按年代等）
	
	<h2><a name="Section 2"> second chapter </a></h2>
	
	进入新世纪以来的几年里，各种社会力量积极参助图书馆活动异常活跃。星星点点的社会个体自办的乡村图书馆（室）不断破土生长，并有蔓延之势；一批批由 NGO 或民间草根组织捐资兴办的中小学图书馆（室）、农民工子弟小学图书馆（室）像新春的种子一样，快速散落在各地；一些大型企业慷慨大方地拿出数千万资金在基层忙碌着创办成千上百的图书馆（室）；还有一群群来自海内外的青年学子组成的志愿者、自发组织起来的“驴友”们，盛夏期间跑到贫困乡村办图书馆，帮助那里的孩子与村民进行阅读、学外语和使用电脑。这些现象就像初升的一抹朝霞，新鲜、灿烂、生动。各种社会力量为什么纷纷热衷办起图书馆来了？他们的办馆助馆能起到怎样的社会作用？他们的行为对中国图书馆事业的发展将会产生什么影响？这些问题显然蕴藏着丰富的内涵、特殊的意义，非常值得关注、探讨与思考。 2008 年，我接受了中国图书馆学会“社会力量参助图书馆事业发展的政策与模式”的年度课题，下面就是该课题对社会力量办馆助馆做出的一些梳理与解读。
	
	<div id="back_home"><a id="home" href="/">Home</a></div>
	
	
	
 </body>
 </html>
--------------------------*/


















