
html{
	border-top: 5px solid navy;
	text-align:center;
	margin:30px; padding:40px;
}


body{
	background:#DDABAB;
	text-align:left;
	width:800px;
	border-top:55px solid silver;margin:0 auto; padding:0;
}
