/*-------------------------
	Simple css file
--------------------------*/

body{
	background:#efe5d0;
	margin: 20px; 
}

#allcontent{
	width:800px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#675c47;
}