/*-------------------------
	Simple css file
--------------------------*/

body{
	background:#efe5d0;
	margin: 20px; 
}

form {
	display: table;
	padding: 10px;
	border: thin dotted #7e7e7e;
	background-color: #elceb8;
}

div.tableRow{
	display: tabl-row;
}

form textarea{
	width: 500px;
	height: 200px;
}

div.tableRow p {
	display: table-cell;
	vertical-align: top;
	padding: 3px;
}

div.tableRow p:first-child{
	text-align: right;
}

p.heading{
	font-weight:bold;
}





