/*-------------------------
	Simple css file
--------------------------*/

*{
	margin:0;
	padding:0;
}


.column {
	width:20%;
	margin:0 5%;
	float: left;

}

.two {
	width:30%;
}

.footer{
	clear:both;
}


html{
	border-top: 5px solid navy;
	text-align:center;
	margin:30px; padding:40px;
}


body{
	background:#DDABAB;
	text-align:left;
	width:800px;
	border-top:55px solid silver;margin:0 auto; padding:0;
}



















